body {
        overflow-x: hidden;
    }

    #cabecalho {
        text-align: center;
        color: #ffffff;
        background-color: #000000;
    }
    
    #navegacao {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: #00000015;
    }
    
    .row {
        flex-grow: 1;
    }

    .full-height-row {
        height: calc(100vh - 20px);
        margin-left: 0;
        margin-right: 0;
    }
    
    .nav-link {
        padding: 10px;
        color: #007bff;
    }
    
    .nav-link:hover {
        background-color: #f8f9fa;
        color: #f31303;
    }
    
    iframe {
        width: 100vh;
        height: 100%;
        background-color: #ffffff;
    }
    
    footer {
       
        color: #000000;
        text-align: center;
        width: 100%;
        font-size: small;
        font-family: 'Segoe UI';
    }
    
